In [2]:
import pandas as pd

# DataFrames yang akan digabungkan
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2']})
df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
                    'B': ['B3', 'B4', 'B5']})

# Gabungkan DataFrames berdasarkan baris (sumbu 0)
result = pd.concat([df1, df2], axis=0)

# Atau gabungkan berdasarkan kolom (sumbu 1)
# result = pd.concat([df1, df2], axis=1)

# Hasil penggabungan disimpan dalam 'result'
print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [3]:
df1

    A   B
0  A0  B0
1  A1  B1
2  A2  B2

In [4]:
df2

    A   B
0  A3  B3
1  A4  B4
2  A5  B5

In [ ]:
import matplotlib.pyplot as plt

In [5]:
result

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [1]:
import  sklearn
from sklearn.metrics import precision_score, recall_score, f1_score

# Contoh data hasil prediksi dan data aktual
y_true = [1, 0, 1, 1, 0, 1, 0, 0, 1, 0]
y_pred = [1, 0, 0, 1, 1, 1, 0, 0, 1, 1]

# Menghitung presisi
precision = precision_score(y_true, y_pred)
print("Presisi:", precision)

# Menghitung peringatan (recall)
recall = recall_score(y_true, y_pred)
print("Peringatan (Recall):", recall)

# Menghitung nilai F1
f1 = f1_score(y_true, y_pred)
print("F1 Score:", f1)

Presisi: 0.6666666666666666
Peringatan (Recall): 0.8
F1 Score: 0.7272727272727272